<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ツイート関連語検索サービス</title>
<style>
.center {
	text-align: center;
}
#search-field {
	width: 50%;
	font-size: 22px;
}
#search-button {
	width: 5%;
	height: 32px;
	margin: 0px 0px 0px 15px;
	font-size: 22px;
	border-style: none;
	background-color: #0080ff;
	color: #fff;
}
</style>
</head>
<body>
<h1 class="center">ツイート関連語検索サービス</h1>
<form action="#" th:action="@{./search}" th:object="${searchForm}" method="post">
    <p class="center"><input id="search-field" type="text" th:field="*{keyword}" /><input id="search-button" type="submit" value="検索" /></p>
</form>
<p class="center">© Shuka Takakuma</p>
</body>
</html>